/* Profile dropdown */

#jf-profile-dropdown {
  display: none;
  position: fixed;
  min-width: 210px;
  z-index: 9999;
  padding: 6px 0;
  border-radius: .75em;
  border: var(--defaultBorder);

  .listItemBody {
    padding: 0;
  }
  .listItem:hover, .navMenuOption:hover {
    border-radius: 0;
  }
}
